.footer {
    background: linear-gradient(to bottom, #ffd3d3, #fcb6b6);
    border-top: 1px solid #8b535e;
    padding: 8px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, serif;
    font-size: 14px;
}

.footer-left{
    font-style: italic;
    font-weight: bold;
    color: #4b2e2e
}
.footer-right ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.footer-right li{
    font-style: italic;
}
.footer-right li a{
    text-decoration: none;
    color: #4b2e2e;
    font-style: italic;
    transition: color 0.2s ease;
}
.footer-right li a:hover {
    color: #000;
    text-decoration: underline;
}